.button-expand {
  padding: 5px !important;
  text-transform: none !important;
}

.button-expand > span {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.button-expand:not(:hover) > span {
  max-width: 0px;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.3s;
}

.button-expand:hover > span {
  max-width: 500px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.3s;
}
