.home-drawer {
  height: 100%;
  width: 410px;
  background: white;
  border-left: 1px solid #e4e7eb;
  transition: right 0.3s ease;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .home-drawer {
    display: none;
  }
}
