.autocomplete {
  input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }

  input:focus {
    box-shadow: none;
  }

  .itemBtn {
    width: 100%;
    text-align: left;
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
  }

  .itemBtn:hover,
  .itemBtn.selected {
    background-color: #f0f0f0;
  }
}
