NEXT_PUBLIC_EDITEUR_URL=https://mes-adresses.data.gouv.fr
NEXT_PUBLIC_BAL_API_URL=https://api-bal.adresse.data.gouv.fr/v2
NEXT_PUBLIC_GEO_API_URL=https://geo.api.gouv.fr
NEXT_PUBLIC_ADRESSE_URL=https://adresse.data.gouv.fr
NEXT_PUBLIC_API_BAN_URL=https://plateforme.adresse.data.gouv.fr
NEXT_PUBLIC_BAN_API_DEPOT=https://plateforme-bal.adresse.data.gouv.fr/api-depot
NEXT_PUBLIC_PEERTUBE=https://tube.numerique.gouv.fr
NEXT_PUBLIC_MATOMO_SITE_ID=
NEXT_PUBLIC_MATOMO_TRACKER_URL=https://stats.beta.gouv.fr/
NEXT_PUBLIC_BAL_ADMIN_URL=
NEXT_PUBLIC_API_SIGNALEMENT=
NEXT_API_ANNUAIRE=https://api-lannuaire.service-public.fr/api/explore/v2.1
PORT=3000
MATTERMOST_TOKEN=
MATTERMOST_CHANNEL_URL=
NEXT_PUBLIC_BAL_WIDGET_URL=