.dynamicTextIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dynamicTextIcon > img {
  z-index: 1;
}

.dynamicTextIcon > span {
  z-index: 2;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  letter-spacing: -0.2px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.dynamicTextIcon > span.visible {
  opacity: 1;
}
