.welcome-illustration {
  background-image: url("/static/images/illustration-new.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .welcome-illustration {
    display: none;
  }
}

.stepper-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
