.certification-button-wrapper {
  position: sticky;
  width: 100%;
  bottom: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: #e6e8f0;
}

.certification-button-wrapper > div {
  box-shadow:
    0 0 1px rgba(67, 90, 111, 0.3),
    0 5px 8px -4px rgba(67, 90, 111, 0.47);
  margin: 4px;
}
