name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  NEXT_PUBLIC_EDITEUR_URL: https://mes-adresses.data.gouv.fr
  NEXT_PUBLIC_BAL_API_URL: https://mes-adresses-api-demo.osc-fr1.scalingo.io/v2
  NEXT_PUBLIC_GEO_API_URL: https://geo.api.gouv.fr
  NEXT_PUBLIC_ADRESSE_URL: https://adresse.data.gouv.fr
  NEXT_PUBLIC_API_BAN_URL: https://plateforme.adresse.data.gouv.fr
  NEXT_PUBLIC_BAN_API_DEPOT: https://plateforme-bal.adresse.data.gouv.fr/api-depot-demo

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
