.ie-warning {
  display: none;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  text-align: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */
  .ie-warning {
    display: block;
  }
}
